*{
		box-sizing: border-box;
	}

	.btn{
	border-radius: 50px;
	background-color: blue;
	color: white;
	font-size: 16px;
	font-family: 'Quattrocento', serif;
	border: 1px blue;

	}

	body{
		font-family: 'Quattrocento', serif;

	}

	nav{
		position: relative;
	}

	


	.dot{
	height: 7px;
	width: 7px;
	background-color: #eee;
	border-radius: 100px;
	position: absolute;
	top: 18px;
	margin-top: 10px;

	}

	.aura-logo{
		font-family: 'Lato', sans-serif;
		margin-top: 20px;
		color: #fff;
		font-size: 50px;
	}

	.nav-item a{
		font-weight: 700;
		font-family: 'Quattrocento', serif;

	}

	header{
		background: url("Images/bitcoin.jpg");
		background-size: cover;
		height: 100vh;
	}

	.contact-us-2{
				padding: 20px;

	}

	.learn-how{
	}

	.lalala{
		padding: 20px;
	}

	.header-h3{
	font-size: 70px;
	font-family: 'Quattrocento', serif;
	font-weight: bold;
	border-left: 5px solid #eee;
	}

	.column-six{
		margin-top: 40px;
	}

	.header-paragraph{
		font-size: 50px;
		color: #000;
		font-family: 'Quattrocento', serif;
		font-weight: bold;

	}

	.header-col{
		margin-top: 150px;
		animation-name: slideInLeft;
  		animation-duration: 3s;
  		animation-delay: 2s;
 		 animation-iteration-count: ;
	}

	.about-us{
		margin-top: 40px;
		margin-bottom: 30px;
		font-size: 25px;
	}

	.second-section{
		background-color:  #eee;
		height: 100vh;
		width: 100%;
	}

	.third-section{
		width: 100%;	
	}

	.second-container{
	}

	.plan-monitor{
		display: inline-block;
		font-family: 'Quattrocento', serif;

	}

	 .horizontal{
		display: inline-block;
		width: 20%;
	}

	.forward-thinking{
		margin-top:;
	}

	.horizontal-2{
		display: inline-block;
		width: 20%;
	}

	.paragraph{
		font-size: 12px;
		padding-right: 20px;
	}

	.with-border-left{
		border-left: 5px solid blue;
		font-family: 'Quattrocento', serif;
		margin-bottom: 20px;

	}

	.hhhh i{
		font-size: 30px;
		color: blue;
	}

	.graph-img{
		width: 50px;
	}

	
	.fa-phone{
		font-size: 30px;
		margin-bottom: 8px;
	}

	.meet-the{
		font-family: 'Quattrocento', serif;
		font-size: 25px;
	
	}

	.about-us{
		font-family: 'Quattrocento', serif;

	}

	.fourth-section{
		background-color: #f2f2f2;
		width: 100%;

	}

	.getting-started{
		color: blue;
	}

	.fifth-section{
		background: url("Images/whatsapp-image.jpeg");
		background-size: cover;
		width: 100%;

	}

	.fourth-container{
		position: relative;
	}

	.girl-img{
		width: 400px;
		position: absolute;
		right: -30px;
		top: 150px;
		height: 500px;
	}

	.contact-us{
		font-family: 'Quattrocento', serif;
		font-size: 25px;

	}

	/*.contact-us-2{
		margin-top: 5px;
	}*/

	.last-button{
		border-radius: 2px;
	}

	footer{
		background-color: #eee;
		width: 100%;

	}

	.footer-paragraph{
		font-size: 10px;
	}

	.last-paragraph{
		font-size: 13px;
	}

	.send-message{
			margin-top: 15px;
	}



	


	.header-paragraph{
		font-size: 18px;
		color: #ccc;
		font-weight: bold;

	}

		.animation-1{
		  animation-name: flash;
		  animation-duration: 1s;
		  animation-delay: 1s;
		  animation-iteration-count: 2;
			}

		.animation-2{
		  animation-name: zoomInDown;
		  animation-duration: 1s;
		  animation-delay: 1s;
		  animation-iteration-count: 2;
			}


		@keyframes slideInLeft{
		  0%{
		    opacity: 0;
		    transform: translateX(-100px);
		  }

		  60%{
		    transform: translateX(10px);
		  }

		  100%{
		    opacity: 1;
		    transform: translate(0);
		  }
		}


		@keyframes lightSpeedOut{
		  0%{
		    opacity: 0;
		    transform: translateX(-100px);
		  }

		  60%{
		    transform: translateX(10px);
		  }

		  100%{
		    opacity: 1;
		    transform: translate(0);
		  }
		}



			@keyframes flash{
		  0%{
		    opacity: 0;
		    transform: translateX(-100px);
		  }

		  60%{
		    transform: translateX(10px);
		  }

		  100%{
		    opacity: 1;
		    transform: translate(0);
		  }
		}


		@keyframes zoomInDown{
		  0%{
		    opacity: 0;
		    transform: translateX(-100px);
		  }

		  60%{
		    transform: translateX(10px);
		  }

		  100%{
		    opacity: 1;
		    transform: translate(0);
		  }
		}


		@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		
		.about-us{
			margin-top: 10px;
			margin-bottom: 5px;

		}

		body{
		font-family: 'Quattrocento', serif;

	}

		.column-six{
			margin-top: 0;
		}



		.with-border-left{

		}

		.header-col{
		animation-name: slideInLeft;
  		animation-duration: 1s;
  		animation-delay: 2s;
 		 animation-iteration-count: 2;
 		 margin-top: 50px;
	}

			@keyframes slideInLeft{
		  0%{
		    opacity: 0;
		    transform: translateX(-100px);
		  }

		  60%{
		    transform: translateX(10px);
		  }

		  100%{
		    opacity: 1;
		    transform: translate(0);
		  }
		}

		.animation-1{
		  animation-name: flash;
		  animation-duration: 1s;
		  animation-delay: 1s;
		  animation-iteration-count: 2;
			}

		.animation-2{
		  animation-name: zoomInDown;
		  animation-duration: 1s;
		  animation-delay: 1s;
		  animation-iteration-count: 2;
			}


				@keyframes flash{
		  0%{
		    opacity: 0;
		    transform: translateX(-100px);
		  }

		  60%{
		    transform: translateX(10px);
		  }

		  100%{
		    opacity: 1;
		    transform: translate(0);
		  }
		}


		@keyframes zoomInDown{
		  0%{
		    opacity: 0;
		    transform: translateX(-100px);
		  }

		  60%{
		    transform: translateX(10px);
		  }

		  100%{
		    opacity: 1;
		    transform: translate(0);
		  }
		}


		.girl-img{
			display: none;
		}

		.young-families{
			margin-bottom: 25px;
			border-bottom: 7px solid #fff;
		}

		.learn-more{
			font-size: 10px;
		}

		.pre-retirees{
			margin-bottom: 150px;
			border-bottom: 7px solid #fff;


		}

		.retirees{
			margin-top: 20px;
		}

		.image-of-woman{
			margin-top: 15px;
		}

		.send-message{
			margin-bottom: 25px;
		}

		.fifth-section{
			background: url("Images/media-query.jpg");
			background-size: cover;
			padding: 10px;
		}

		.fourth-section{
			padding: 0;
		}

		.lalala{
			background-color: #fff;
			margin-top: 70px;
		}

		.with-border-left{
		margin-top: 50px;
		font-size: 35px;

		}

		.meet-the{
			font-size: 25px;
			color: blue;
		}


		header{
		background: url("Images/bitcoin.jpg");
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
  		background-attachment: fixed;
  		background-position: 50% 50%;
		}

		.learn-how{
			color: #fff;
		}

		.hhhh i{
			font-size: 30px;
			margin-bottom: 8px;
			color: #fff;
		}

		
		.fa-phone{
			margin-top: 20px;
			color: blue;
		}

		/*.contact-us{
			margin-top: 50px;
		}*/

		.text-primary-2{
			font-size: 25px;
		}

		.plan-future{
			font-size: 14px;
		}

		.learn-more-2{
			font-size: 12px;
			color: blue;
		}

		.horizontal{
			width: 100%;
			color: #000;
		}

		.retirees{
			margin-top: 70px;
			border-bottom: 7px solid #fff;
		}

		.footer-paragraph{
			font-size: 12px;
			color: #fff;
		}

		.last-paragraph{
			color: #fff;
		}

		.forward-thinking{
			font-size: 18px;
		}

		.paragraph{
			font-size: 15px;
		}

		.contact-us{
			font-size: 18px;
			margin-bottom: 20px;
			color: #fff;
		}

		.contact-us-2{
			background-color: #404040;
		}

		.getting-started{
			font-size: 35px;
			color: #fff;

		}

		.learn-how{
			font-size: 18px;
			margin-top: 10px;
			text-transform: uppercase;
		}

		.paragraph-2{
			font-size: 14px;
			color: #fff;
		}

		.form-group{
			color: #fff;
		}

		label{
			color: #fff;
		}

		.hhhh{
			padding: 10px;
		}

		.horizontal-2{
			display: none;
		}

		.contact-div{
			border-bottom: 15px solid #fff;
		}

		.header-h3{
		font-size: 45px;
		font-weight: bold;
		margin-top: 200px;
	/*	border-left: 5px solid #eee;
	*/	}

		

		.fourth-section{
			height: 1100px;
		}

		footer{
			background-color: #404040;
		}

		.header-paragraph{
			font-size: 25px;
			margin-top: 20px;
		}

		.navbar{
        position: absolute;
        width: 100%;
        z-index: 9999;
        background-color: #c68c53;
    }

    .second-section{
    	height: 950px;
    	width: 100%;
    }







		/*.navbar-toggler{
			color: #fff;
		}*/

		}

@media (min-width: 481px) and (max-width: 767px) {
  		.header-h3{
		font-size: 45px;
		font-weight: bold;
	/*	border-left: 5px solid #eee;
	*/	}

	.aura-logo{
		margin-right: auto;
	}

	.girl-img{
		display: none;
	}

	.form-group{
			color: #fff;
		}

		label{
			color: #fff;
		}

		.retirees{
			margin-top: 70px;
			border-bottom: 7px solid #fff;
		}


		.learn-more-2{
			font-size: 12px;
			color: blue;
		}

		.contact-us-2{
			background-color: #242424;
			padding: 15px;
		}

		.horizontal-2{
			display: none;
		}

		.fifth-section{
			background: url("Images/media-query.jpg");
			background-size: cover;
			padding: 10px;
		}

		.plan-monitor{
			color: #fff;
		}

		.fa-phone{
			margin-bottom: 10px;
		}

		.lalala{
			background-color: #fff;
			margin-top: 70px;
		}

		.fa-phone-2{
			color: blue;
			margin-top: 30px;
		}

		.learn-how, .paragraph-2{
			color: #fff;
		}

		.contact-us{
			font-size: 18px;
		}

		.young-families{
			margin-bottom: 25px;
			border-bottom: 7px solid #fff;
		}

		.header-col{
		margin-bottom: px;
	}

		.navbar{
        position: absolute;
        width: 100%;
        z-index: 9999;
        background-color: #c68c53;
    }

    .header-h3{
    	margin-top: 100px;
    }

    .header-paragraph{

    }

   .second-section{
		background-color:  #eee;
		height: 850px;
		width: 100%;
	}


	header{
		background: url("Images/bitcoin.jpg");
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
  		background-attachment: fixed;
  		background-position: 50% 50%;
		}


		}

		@media (min-width: 768px) and (max-width: 1024px) {
			.girl-img{
				width: 300px;
			}

			.navbar{
        position: absolute;
        width: 100%;
        z-index: 9999;
        background-color: #c68c53;
    }

    header{
		background: url("Images/bitcoin.jpg");
		background-size: cover;
		height: 100vh;
		background-repeat: no-repeat;
  		background-attachment: fixed;
  		background-position: 50% 50%;
		}

		.header-h3{
			margin-top: 60px;
		}
		}